html, body, #map-div {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#legend{
    position: fixed;
    bottom: 70px;
    right: 50px;
    background-color: rgba(235,235,235,.85);
    z-index: 100;
    width: 100px;
}

#legend ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#legend p{
    margin: 0px;
}

#legend li{
    height: 30px;
    line-height: 30px;
}

#legend li:before{
    content: '';
    display: inline;
    float: left;
    width: 15px;
    height: 15px;
    margin: 4px 10px;
    border-radius: 50%;
}

#origin-legend:before{
    background-color: rgba(215, 68, 115,.55);
    border: 2px solid rgb(215, 68, 115);
}

#asylum-legend:before{
    background-color: rgba(255, 255, 255,.55);
    border: 2px solid rgb(255, 255, 255);

}

#deaths-legend:before{
    background-color: rgba(80, 44, 115,.55);
    border: 2px solid rgb(80, 44, 115);
}

#map-div{
    position: absolute; 
    top: 0px; 
    width: 100%; 
    height: calc(100% - 55px);
}

#time-slider{
    position: absolute;  
    bottom: 0px; 
    width: 100%; 
    height: 56px; 
    background-color: rgb(30,30,30);
}

.cursor{
    background-color: rgb(160,160,160) !important;
}

.trapezoid {
    border-bottom: 25px solid rgba(255,10,10,.5);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 7px;
    transform: scaleY(-1) translateY(-6px);
}

.bar{
    margin-left: 15px;
    width: 7px;
    height: 45%;
    background-color: rgba(255,10,10,.5);
    transform: translateY(23%);
}

#play-button{
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    background-color: rgb(30,30,30);
    border-bottom: 5px rgb(30,30,30);
}

#circle{
    position: absolute;
    width: 70%;
    height: 70%;
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border:solid 2px rgb(130,130,130);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .3s;
}

#circle:hover{
    background-color: rgb(100,100,100);
    cursor: pointer;
}

#circle:hover > .play{
    border-left: 12px solid rgb(30,30,30);
}

#circle:hover > .pause{
    background-color: rgb(30,30,30);
}

.play{
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgb(130,130,130);
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.pause{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(130,130,130);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.year{
    position: relative;
    float: left;
    width: calc((100% - 50px)/3);
    height: 50px;
    /**background-color: blue;**/
    text-align: center;
}

.year > p{
    position: relative; 
    margin-top: 30px; 
    text-align: center;
    font-size: 13px;
    color: white;
}

.month{
    position: relative;
    height: 50%;
    width: calc(100%/12);
    background-color: rgb(20,20,20);
    float: left;
    transition: background-color .3s;
}

.valid{
    background-color: rgb(60,60,60);
}

.valid:hover{
    background-color: rgb(100,100,100);
    cursor: pointer;
}

.month > p{
    font-size: 11px;
    margin-top: 4px;
    color: white;
}

.cursor > .line {
    display: block;
    background-color: red;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
}

.line {
    display: none;
}

#stories-window{
    position: absolute;
    width: 250px;
    bottom: 80px;
    max-height: 50%;
}

#hover-tab{
    background-color: rgba(40,40,40, .85);
    color: rgb(210,210,210);
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
}

#hover-tab:hover{
    background-color: rgba(80,80,80, .85);
}

#hover-tab > p{
    margin: 0px;
    padding: 10px;
}


#stories-area{
    position: absolute;
    bottom: 35px;
    width: 100%;
    background-color: rgba(235,235,235, .85);
}

#stories-area > h3, .section{
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-bottom: 4px solid rgba(150,150,150, .5);
    height: auto;
}

.stories{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    max-height: calc(50vh - 80px);
}

.story{
    background-color: rgba(235,235,235,.85);
    line-height: 100px;
    border-bottom: 4px solid rgba(150,150,150, .5);
    cursor: pointer;
    border-width: 4px;
    height: 100px;
    vertical-align: middle;
}

.story:after{
    content: "\276f";
    color: rgb(180,180,180);
    font-size: 25px;
    float: right;
    margin-right: 10px;
    width: 10%;
}

.story:hover:after{
    color: rgb(150,150,150);
    margin-right: 3px;
}

.headline{
    position: relative;
    float: left;
    height: 100%;
    width: 75%;
    margin: 0px 0px 0px 13px;
    line-height: 20px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}


#loading {
    background: url(images/loading.gif) no-repeat center;
    pointer-events: none;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 100;
    top: 50%;
    left: 50%;
}

/* Ordering matters. Placed this below to give these styles precedence */

.hide-show{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    height: 0px;
    padding: 0px;
    border-width: 0px;
}

.hide-show:after{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear, margin-right .1s;
    height: 0px;
    padding: 0px;
    border-width: 0px;
}


#stories-window:hover .hide-show, #hover-tab:hover+#stories-area .hide-show{
   visibility: visible;
   opacity: 1;
}

#stories-window:hover .hide-show:after, #hover-tab:hover+#stories-area .hide-show:after{
   visibility: visible;
   opacity: 1;
}

#stories-window:hover .hide-show.story, #hover-tab:hover+#stories-area .hide-show.story{
   height: 100px;
   border-width: 4px;
}

#stories-window:hover .hide-show.section, #hover-tab:hover+#stories-area .hide-show.section{
   height: auto;
   padding: 10px;
   border-width: 4px;
}

#stories-window:hover .hide-show.headline, #hover-tab:hover+#stories-area .hide-show.headline{
   height: 100%;
}
